<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>About - DriveNation</title>
  <link rel="icon" href="https://icoholder.com/files/img/faa4ff4aac7378b8cb83199b235adaef.png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/styles/banner.css}"/>
  <link rel="stylesheet" th:href="@{/styles/header.css}"/>
  <link rel="stylesheet" th:href="@{/styles/about.css}"/>
  <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<section>
  <div>
    <h2>About Us</h2>
  </div>
</section>


<!--    <p><a href="mailto:milian.code@gmail.com">Contact by Email</a></p>-->
<!--    <p><a href="tel:48000000000">+48000000000</a></p>-->


<div th:insert="blocks/footer :: footer" style="width: 100%; position: absolute; bottom: 0"></div>

</body>
<html/>

