<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Account</title>
  <link rel="icon" href="https://icoholder.com/files/img/faa4ff4aac7378b8cb83199b235adaef.png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/styles/banner.css}"/>
  <link rel="stylesheet" th:href="@{/styles/header.css}"/>
  <link rel="stylesheet" th:href="@{/styles/header.css}"/>
  <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<section class="py-3 text-center container section-banner" >
  <div class="row py-lg-5 bg-image banner" style="background-image: url('https://sb.kaleidousercontent.com/67418/1920x1277/59e722759f/colin-lloyd-titfvbwn_hc-unsplash.jpg');">
    <div th:each="el : ${user}" class="col-lg-6 col-md-8 mx-auto text-black" >
      <h1 th:text="${el.username}" class="fw-light" />
    </div>
  </div>
</section>

<div th:insert="blocks/footer :: footer" style="width: 100%; position: absolute; bottom: 0"></div>

</body>
<html/>
