<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Automania - blog</title>
  <link rel="icon" href="https://icoholder.com/files/img/faa4ff4aac7378b8cb83199b235adaef.png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<section class="py-3 text-center container">
  <div class="row py-lg-5 bg-image" style="background-image: url('https://www.bugatti.com/fileadmin/_processed_/sei/p1/se-image-d37f5243f6ae21dcfb1fbf28dfe261f5.jpg');
            height: 50vh;background-size: 100%; background-repeat: no-repeat;background-position: bottom; ">
    <div class="col-lg-6 col-md-8 mx-auto text-light">
      <h1 class="fw-light">Blog</h1>
      <p class="lead">Here you can find other people's blogs, or even create your own!</p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div th:each="el : ${posts}" class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 th:text="${el.title}" class="card-text"></h5>
            <p th:text="${el.anons}" class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a th:href="'/blog/' + ${el.id}" type="button" class="btn btn-sm btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 1 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                  View
                </a>
              </div>
              <small th:text="'Created by ' + ${el.nickName}" class="text-muted"></small>
              <small th:text="${el.likes} + ' likes'" class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>

</html>