<div th:fragment="footer">
<footer class="text-muted py-5 bg-dark" style=" padding-top: 1.5rem !important; padding-bottom: 1.5rem !important">
  <div class="container">
    <p class="mb-1">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none" style="width: fit-content;">
        <span class="fs-4" style="padding: 0 1rem 0 0; font-family: 'Arial Rounded MT Bold'; color: aliceblue">DriveNation</span>
      </a>
    </p>
    <p class="mb-1">Created by Maksym Milian</p>
    <p class="mb-0">2024</p>
  </div>
</footer>
</div>