
<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center pb-2 border-bottom container">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4 hover-underline-animation" style="font-family:'Arial Rounded MT Bold'">Automania</span>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none button-font hover-underline-animation" href="/">News</a>
    <a class="me-3 py-2 text-dark text-decoration-none button-font hover-underline-animation" style="font-size: large" href="/news/add">Add news</a>
    <a class="me-3 py-2 text-dark text-decoration-none button-font hover-underline-animation" style="font-size: large" href="/blog">Blog</a>
    <a class="me-3 py-2 text-dark text-decoration-none button-font hover-underline-animation" style="font-size: large" href="/blog/add">Add blog</a>
    <a class="me-3 py-2 text-dark text-decoration-none button-font hover-underline-animation" style="font-size: large" href="/about">About</a>
    <a class="py-2 text-dark text-decoration-none button-font hover-underline-animation" style="font-size: large" href="/login">Log in</a>


  </nav>
  </div>
</div>
